.tooltip {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  padding: 8px; }
  .tooltip .tooltip-content {
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.15);
    font-size: 14px;
    padding: 6px 16px;
    min-height: 32px;
    color: #fff; }
  .tooltip .tooltip-arrow {
    display: block;
    position: absolute;
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .tooltip.tooltip-light .tooltip-content {
    background-color: #fff;
    color: #262626; }
  .tooltip.tooltip-top .tooltip-arrow {
    top: auto;
    right: auto;
    bottom: 4px;
    left: 50%;
    margin: 0 0 0 -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-right-color: rgba(0, 0, 0, 0.75);
    border-bottom-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.07); }
  .tooltip.tooltip-top.tooltip-light .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-right-color: #fff;
    border-bottom-color: #fff; }
  .tooltip.tooltip-topLeft .tooltip-arrow {
    top: auto;
    right: auto;
    bottom: 4px;
    left: 24px;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-right-color: rgba(0, 0, 0, 0.75);
    border-bottom-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.07); }
  .tooltip.tooltip-topLeft.tooltip-light .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-right-color: #fff;
    border-bottom-color: #fff; }
  .tooltip.tooltip-topRight .tooltip-arrow {
    top: auto;
    right: 24px;
    bottom: 4px;
    left: auto;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-right-color: rgba(0, 0, 0, 0.75);
    border-bottom-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.07); }
  .tooltip.tooltip-topRight.tooltip-light .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-right-color: #fff;
    border-bottom-color: #fff; }
  .tooltip.tooltip-rightTop .tooltip-arrow {
    top: 20px;
    right: auto;
    bottom: auto;
    left: 4px;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-left-color: rgba(0, 0, 0, 0.75);
    border-bottom-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 3px 7px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: -3px 3px 7px 0 rgba(0, 0, 0, 0.07);
    box-shadow: -3px 3px 7px 0 rgba(0, 0, 0, 0.07); }
  .tooltip.tooltip-rightTop.tooltip-light .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-left-color: #fff;
    border-bottom-color: #fff; }
  .tooltip.tooltip-right .tooltip-arrow {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 4px;
    margin: -4px 0 0 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-left-color: rgba(0, 0, 0, 0.75);
    border-bottom-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 3px 7px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: -3px 3px 7px 0 rgba(0, 0, 0, 0.07);
    box-shadow: -3px 3px 7px 0 rgba(0, 0, 0, 0.07); }
  .tooltip.tooltip-right.tooltip-light .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-left-color: #fff;
    border-bottom-color: #fff; }
  .tooltip.tooltip-rightBottom .tooltip-arrow {
    top: auto;
    right: auto;
    bottom: 20px;
    left: 4px;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-left-color: rgba(0, 0, 0, 0.75);
    border-bottom-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 3px 7px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: -3px 3px 7px 0 rgba(0, 0, 0, 0.07);
    box-shadow: -3px 3px 7px 0 rgba(0, 0, 0, 0.07); }
  .tooltip.tooltip-rightBottom.tooltip-light .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-left-color: #fff;
    border-bottom-color: #fff; }
  .tooltip.tooltip-bottomLeft .tooltip-arrow {
    top: 4px;
    right: auto;
    bottom: auto;
    left: 24px;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-left-color: rgba(0, 0, 0, 0.75);
    border-top-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px -3px 7px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: -3px -3px 7px 0 rgba(0, 0, 0, 0.07);
    box-shadow: -3px -3px 7px 0 rgba(0, 0, 0, 0.07); }
  .tooltip.tooltip-bottomLeft.tooltip-light .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-left-color: #fff;
    border-top-color: #fff; }
  .tooltip.tooltip-bottom .tooltip-arrow {
    top: 4px;
    right: auto;
    bottom: auto;
    left: 50%;
    margin: 0 0 0 -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-left-color: rgba(0, 0, 0, 0.75);
    border-top-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px -3px 7px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: -3px -3px 7px 0 rgba(0, 0, 0, 0.07);
    box-shadow: -3px -3px 7px 0 rgba(0, 0, 0, 0.07); }
  .tooltip.tooltip-bottom.tooltip-light .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-left-color: #fff;
    border-top-color: #fff; }
  .tooltip.tooltip-bottomRight .tooltip-arrow {
    top: 4px;
    right: 24px;
    bottom: auto;
    left: auto;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-left-color: rgba(0, 0, 0, 0.75);
    border-top-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px -3px 7px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: -3px -3px 7px 0 rgba(0, 0, 0, 0.07);
    box-shadow: -3px -3px 7px 0 rgba(0, 0, 0, 0.07); }
  .tooltip.tooltip-bottomRight.tooltip-light .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-left-color: #fff;
    border-top-color: #fff; }
  .tooltip.tooltip-leftTop .tooltip-arrow {
    top: 20px;
    right: 4px;
    bottom: auto;
    left: auto;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-right-color: rgba(0, 0, 0, 0.75);
    border-top-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px -3px 7px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 3px -3px 7px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 3px -3px 7px 0 rgba(0, 0, 0, 0.07); }
  .tooltip.tooltip-leftTop.tooltip-light .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-right-color: #fff;
    border-top-color: #fff; }
  .tooltip.tooltip-left .tooltip-arrow {
    top: 50%;
    right: 4px;
    bottom: auto;
    left: auto;
    margin: -4px 0 0 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-right-color: rgba(0, 0, 0, 0.75);
    border-top-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px -3px 7px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 3px -3px 7px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 3px -3px 7px 0 rgba(0, 0, 0, 0.07); }
  .tooltip.tooltip-left.tooltip-light .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-right-color: #fff;
    border-top-color: #fff; }
  .tooltip.tooltip-leftBottom .tooltip-arrow {
    top: auto;
    right: 4px;
    bottom: 20px;
    left: auto;
    margin: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-right-color: rgba(0, 0, 0, 0.75);
    border-top-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px -3px 7px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 3px -3px 7px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 3px -3px 7px 0 rgba(0, 0, 0, 0.07); }
  .tooltip.tooltip-leftBottom.tooltip-light .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 4px;
    border-right-color: #fff;
    border-top-color: #fff; }
